{#
/**
 * NSM Fields plugin for Craft CMS 3.x
 *
 * Person Name Field Input
 *
 * @author    Leevi Graham
 * @copyright Copyright (c) 2017 Leevi Graham
 * @link      http://newism.com.au
 * @package   NsmFields
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<style>
    .personName {
        display: flex;
        flex-wrap: wrap;
    }

    .personName label {
        font-size: 11px;
        display: block;
    }

    .personName input {
        width: 100%;
    }

    .personName > div {
        flex: 1 0 auto;
    }

    .personName > div:first-child,
    .personName > div:last-child {
        flex: 0 0 auto;
    }

    .personName > div {
        margin-right: 5px;
    }

    .personName > div:last-child {
        margin-right: 0;
    }

    .personName > div:last-child {
        margin-right: 0;
    }

    .personName-honorificPrefix,
    .personName-honorificSuffix {
        width: 60px;
    }
</style>

<div class="personName">
    <div class="personName-honorificPrefix">
        <label for="">Prefix</label>
        {{ forms.text({
            id: name ~ '-honorificPrefix',
            name: name ~ '[honorificPrefix]',
            value: value ? value.honorificPrefix,
            class: 'nicetext',
            style:"width: 6ch"
        }) }}
    </div>
    <div class="personName-givenNames">
        <label for="">Given Names</label>
        {{ forms.text({
            id: name ~ '-givenNames',
            name: name ~ '[givenNames]',
            value: value ? value.givenNames,
            class: 'nicetext'
        }) }}
    </div>
    <div class="personName-additionalNames">
        <label for="">Additional Names</label>
        {{ forms.text({
            id: name ~ '-additionalNames',
            name: name ~ '[additionalNames]',
            value: value ? value.additionalNames,
            class: 'nicetext'
        }) }}
    </div>
    <div class="personName-familyNames">
        <label for="">Family Names</label>
        {{ forms.text({
            id: name ~ '-familyNames',
            name: name ~ '[familyNames]',
            value: value ? value.familyNames,
            class: 'nicetext'
        }) }}
    </div>
    <div class="personName-honorificSuffix">
        <label for="">Suffix</label>
        {{ forms.text({
            id: name ~ '-honorificSuffix',
            name: name ~ '[honorificSuffix]',
            value: value ? value.honorificSuffix,
            class: 'nicetext',
            style:"width: 12ch"
        }) }}
    </div>
</div>
